.catalog{
  padding: 24px 0 15px;
  &__grid{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    justify-content: center;
    margin-top: 25px;
    @media ($bp-larger-than-desktop) {
      justify-content: flex-start;
    }
  }
  &__box{
  }
  &__item{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
  }
}
