.breadcrumbs{
  padding: 13px 0 12px;
  display: none;
  @media ($bp-larger-than-phablet) {
    display: block;
  }
  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    li{
      margin: 0;
      padding: 0;
      display: inline-block;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      color: #777777;
      +li{
        &:before{
          margin: 0 7px;
          content: "\2014";
          vertical-align: top;
          display: inline-block;
          background-repeat: no-repeat;
          color: #777777;
          font-size: 22px;
        }
      }
    }
    a{
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      color: #777777;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.steps{
  padding: 9px 0 32px;
  @media ($bp-larger-than-phablet) {
    padding: 0 0 37px;
  }
}
.steps-line{
  justify-content: space-between;
  position: relative;
  display: none;
  width: 100%;
  max-width: 100%;
  flex: 1 1 auto;
  @media ($bp-larger-than-tablet) {
    display: flex;
  }
  &__box{
    margin-top: 39px;
    margin-bottom: 40px;
    position: relative;
    &:before{
      display: inline-block;
      content: "";
      left: 75px;
      right: 75px;
      top: 19px;
      position: absolute;
      height: 1px;
      background-color: #EF5C2E;
      z-index: 1;
    }
  }
  &__item{
    width: 184px;
    text-align: center;
    position: relative;
    padding-top: 48px;
    color: #2C2C2C;
    text-decoration: none;
    zoom: 1;
    display: block;
    box-sizing: border-box;
    &:hover{
      color: #2C2C2C;
      text-decoration: none;
    }
    &:before{
      width: 38px;
      height: 38px;
      background: #FFFFFF;
      border: 1px solid #EF5C2E;
      box-sizing: border-box;
      position: absolute;
      content: "";
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }
    &.active{
      &:before{
        background-color: #EF5C2E;
      }
      &:after{
        content: "";
        display: inline-block;
        @include sprite($step-active);
        position: absolute;
        top: 13px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
      }
    }
  }
  &__name{
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    display: none;
  }
}

.steps-info{
  border: 1px solid #EF5C2E;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  @media ($bp-larger-than-phablet) {
    padding: 20px 0 0;
  }
  @media ($bp-larger-than-desktop) {
    padding: 0;
    flex-direction: row;
  }
  &__image{
    line-height: 1;
    font-size: 0px;
    @media ($bp-larger-than-phablet) {
      flex-shrink: 0;
      width: 463px;
    }
    img{
      max-width: 100%;
    }
  }
  &__body{
    width: 100%;
    padding: 13px 18px 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media ($bp-larger-than-phablet) {
      align-items: center;
      padding: 20px;
    }
  }
  &__header{
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 14px;
    @media ($bp-larger-than-phablet) {
      text-align: center;
      margin-bottom: 28px;
    }
  }
  &__text{
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    text-align: justify;
    width: 100%;
  }
}
.steps-tabs{
  border-top: 1px solid #EF5C2E;
  @media ($bp-larger-than-tablet) {
    border: 0 none;
  }
}
.steps-tab-header{
  display: flex;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #EF5C2E;
  border-top: 0 none;
  box-sizing: border-box;
  align-items: center;
  padding: 5px 17px;
  @media ($bp-larger-than-tablet) {
    display: none;
  }
  &:hover{
    color: #000000;
    text-decoration: none;
  }
  &.active{
    background-color: #EF5C2E;
    color: #fff;
    &:hover{
      color: #fff;
    }
  }
}

.discount{
  background-position: center center;
  background-repeat: no-repeat;
  padding: 21px 0;
  &__box{
    display: flex;
    padding: 24px 12px 12px;
    background: rgba(255, 255, 255, 0.85);
    max-width: 754px;
    @media ($bp-larger-than-tablet) {
      padding: 48px 75px 54px;
    }
  }
  &__caption {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #222222;
    max-width: 320px;
    width: 100%;
    position: relative;
    padding-left: 12px;
    margin-bottom: 14px;
    @media ($bp-larger-than-iphone6) {
      font-size: 24px;
    }
    @media ($bp-larger-than-tablet) {
      margin-bottom: 0;
    }
    &:before {
      display: inline-block;
      content: "";
      width: 1px;
      height: 100%;
      background-color: #EF5C2E;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
    }
  }
  &__panel{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @media ($bp-larger-than-tablet) {
      flex-direction: row;
    }
    .btn{
      width: 214px;
      height: 46px;
    }
  }
}

.offer{
  padding: 24px 0;
}

.price{
  background: #F2F2F2;
  padding: 29px 0 36px;
  @media ($bp-larger-than-phablet) {
    padding: 25px 0 36px;
  }
}
.price-table{
  margin-top: 27px;
  @media ($bp-larger-than-phablet) {
    margin-top: 23px;
  }
  &__captions{
    width: 242px;
    flex-shrink: 0;
    //display: flex;
    display: none;
    @media ($bp-larger-than-phablet) {
      display: block;
    }
  }
  &__columns{
    width: 100%;
    @media ($bp-larger-than-phablet) {
      width: 300px;
    }
    @media ($bp-larger-than-desktop) {
      width: 599px;
    }
    @media ($bp-larger-than-desktophd) {
      width: 898px;
    }
    .price-table{
      &__cell{
        margin-left: -1px;
      }
      &__cell-mini{
        margin-left: -1px;
      }
    }
  }
  &__cols{
    display: flex;
  }
  &__column{
    width: 100%;
    @media ($bp-larger-than-phablet) {
      width: 300px;
      flex-shrink: 0;
      margin-left: -1px;
    }
  }
  &__th{
    height: 225px;
    border: 1px solid #C4C4C4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    flex-direction: column;
    background-color: #fff;
  }
  &__image{
    height: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    @media ($bp-larger-than-phablet) {
      height: 140px;
    }
    img{
      max-width: 100%;
    }
  }
  &__cell{
    background-color: #fff;
    height: 100px;
    display: flex;
    //align-items: flex-start;
    justify-content: center;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    border: 1px solid #C4C4C4;
    position: relative;
    margin-top: -1px;
    padding: 15px;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 100%;
    white-space: normal;
    align-items: center;
    @media ($bp-larger-than-iphone6) {
      font-size: 18px;
    }
    @media ($bp-larger-than-phablet) {
      height: 120px;
      //align-items: center;
    }
    &--delimiter{
      flex-direction: row;
      padding: 0;
      height: 238px
    }
  }
  &__cell-mini{
    background-color: #fff;
    height: 70px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    border: 1px solid #C4C4C4;
    position: relative;
    margin-top: -1px;
    padding: 15px 15px;
    flex-direction: column;
    @media ($bp-larger-than-iphone6) {
      font-size: 18px;
    }
    @media ($bp-larger-than-phablet) {
      height: 80px;
      align-items: center;
    }
    .price-table__mobile-label{
      margin-bottom: 4px;
    }
  }
  &__mobile-label{
    display: block;
    margin-bottom: 8px;
    @media ($bp-larger-than-iphone6) {
      margin-bottom: 13px;
    }
    @media ($bp-larger-than-phablet) {
      display: none;
    }
  }
}
.price-th-sep{
  &__name{
    width: 100%;
  }
  &__cols{
    margin-right: -1px;
    width: 70px;
    flex-shrink: 0;
    .price-table__cell-mini{
      padding: 15px 4px;
    }
  }

}
.dinamic-price{
  display: flex;
}
.static-price{
  display: flex;
}
.price-slider-js{
  &.owl-carousel{
    width: 100%;
    @media ($bp-larger-than-phablet) {
      width: 299px;
    }
    @media ($bp-larger-than-desktop) {
      width: 598px;
    }
    @media ($bp-larger-than-desktophd) {
      width: 897px;
    }
  }
  .owl-nav {
    height: 0;
    position: absolute;
    top: 112px;
    width: 100%;
    @media ($bp-larger-than-phablet) {
      top: 128px;
    }
  }
  .owl-prev{
    left: 14px;
    position: absolute;
    top: -25px;
    span{
      display: none;
    }
    &:before{
      content: "";
      display: inline-block;
      @include sprite($prev-price-slider)
    }
  }
  .owl-next{
    right: 14px;
    position: absolute;
    top: -25px;
    span{
      display: none;
    }
    &:before{
      content: "";
      display: inline-block;
      @include sprite($next-price-slider)
    }
  }
}

.faqs{
  padding: 28px 0 9px;
  @media ($bp-larger-than-phablet) {
    padding: 34px 0;
  }
  &__grid{
    display: flex;
    justify-content: space-between;
  }
  &__questions{
    margin-right: 0;
    @media ($bp-larger-than-desktop) {
      margin-right: 30px;
    }
    .about-faq__group{
      max-width: 656px;
    }
  }
  &__form{
    width: 365px;
    flex-shrink: 0;
    display: none;
    @media ($bp-larger-than-desktop) {
      display: block;
    }
  }
}

.faq-form{
  border: 1px solid #C4C4C4;
  padding: 20px 32px 15px;
  .section-header{
    margin-bottom: 14px;
  }
  &__police{
    order: 2;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #C4C4C4;
    margin-bottom: 6px;
    @media ($bp-larger-than-phablet) {
      order: 1;
    }
    a{
      color: #C4C4C4;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }
  &__item{
    width: 100%;
    margin-bottom: 14px;
  }
  input[type="text"]{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    height: 45px;
    padding: 0px 22px;
  }
  &__button{
    width: 100%;
    margin-bottom: 12px;
  }
  .btn-o{
    max-width: 100%;
    &:hover{
    }
  }
}

.faq-social{
  margin-bottom: 10px;
  &__text{
    width: 100%;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 6px;
  }
  &__icons{
    text-align: center;
    display: flex;
    justify-content: center;
  }
  &__icon{
    border: 2px solid #C4C4C4;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: flex;
    margin-right: 14px;
    align-items: center;
    justify-content: center;
    &:last-child{
      margin-right: 0;
    }
    &:before{
      display: inline-block;
      content: "";
    }
    &--telegram{
      &:before{
        @include sprite($telegram);
      }
    }
    &--vk{
      &:before{
        @include sprite($vk);
      }
    }
    &--viber{
      &:before{
        @include sprite($viber);
      }
    }
    &--whatsapp{
      &:before{
        @include sprite($whatsapp);
      }
    }
  }
}

.stext{
  background: #F2F2F2;
  padding: 37px 0;
  font-weight: 300;
}
.desktop-feedback-form{
  display: block;
  @media ($bp-larger-than-desktop) {
    display: none;
  }
}