.textpage{
  padding-bottom: 4px;
}
.narrow-page{
  max-width: 794px;
  margin-left: auto;
  margin-right: auto;
}
.text{
  h1{
    font-weight: 300;
    padding-left: 10px;
    position: relative;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 21px;
    margin-top: 0;
    @media ($bp-larger-than-phablet) {
      font-size: 24px;
      line-height: 28px;
    }
    &:before{
      display: inline-block;
      content: "";
      width: 1px;
      height: 100%;
      background-color: #EF5C2E;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
    }
  }
  p{
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
    color: #2C2C2C;
    + ul{
      margin-top: -12px;
      margin-bottom: 9px;
    }
    + ol{
      margin-top: -12px;
      margin-bottom: 9px;
    }
    + img{
      margin-top: -12px;
    }
  }
  img{
    max-width: 100%;
    & + p{
      margin-top: 9px;
    }
  }
  ul{
    padding-left: 10px;
    @media ($bp-larger-than-phablet) {
      padding-left: 25px;
    }
    @media ($bp-larger-than-tablet) {
      padding-left: 53px;
    }
    li{
      list-style-type: none;
      position: relative;
      padding-left: 24px;
      margin-bottom: 4px;
      &:before{
        width: 10px;
        height: 10px;
        background-color: #EF5C2E;
        display: inline-block;
        content: "";
        position: absolute;
        left: 4px;
        top: 3px;
      }
    }
  }

  ol {
    padding-left: 10px;
    @media ($bp-larger-than-phablet) {
      padding-left: 25px;
    }
    @media ($bp-larger-than-tablet) {
      padding-left: 58px;
    }
    list-style-type: none;
    counter-reset: num;
    li{
      margin-bottom: 4px;
    }
    li::before {
      content: counter(num) '. ';
      counter-increment: num;
      color: #EF5C2E;
      font-weight: 600;
      margin-right: 4px;
    }
  }


}
