<div class="feedback">
    <div class="container">
        <div class="feedback__body">
            <div class="section-header">
                Остались вопросы? <span class="section-header--desktop">Оставьте заявку и мы свяжемся с вами в ближайшее время!</span>
                <span class="section-header--mobile">Закажите звонок и наш специалист перезвонит вам в течение 5 минут для бесплатной консультации!</span>
            </div>
            <div class="feedback-form">
                <form action="">
                    <div class="feedback-form__grid">
                        <div class="feedback-form__left">
                            <div class="feedback-form__group">
                                <div class="feedback-form__item">
                                    <input type="text" name="name" placeholder="Имя*" />
                                </div>
                                <div class="feedback-form__item">
                                    <input type="text" name="name" placeholder="Телефон*" data-mask="+7 (999) 999-99-99" />
                                </div>
                            </div>
                            <div class="feedback-form__textarea">
                                <textarea name="message" placeholder="Сообщение"></textarea>
                            </div>
                        </div>
                        <div class="feedback-form__right">
                            <div class="feedback-form__button">
                                <button class="btn btn-o">Заказать звонок</button>
                            </div>
                            <div class="feedback-form__bottom">
                                <div class="feedback-form__police">
                                    Нажимая на кнопку, вы даете согласие на обработку персональных данных в соответствии с
                                    <a href="#">Политикой Конфиденциальности</a>
                                </div>
                                <div class="feedback-social">
                                    <div class="feedback-social__text">
                                        или свяжитесь с нами
                                        в мессенджерах
                                    </div>
                                    <div class="feedback-social__icons">
                                        <a href="#"><svg class="svg-icon feedback-social__icon"><use xlink:href="/assets/template/css/sprites/sprite.svg#telegram"></use></svg></a>
                                        <a href="#"><svg class="svg-icon feedback-social__icon"><use xlink:href="/assets/template/css/sprites/sprite.svg#vk"></use></svg></a>
                                        <a href="#"><svg class="svg-icon feedback-social__icon"><use xlink:href="/assets/template/css/sprites/sprite.svg#viber"></use></svg></a>
                                        <a href="#"><svg class="svg-icon feedback-social__icon"><use xlink:href="/assets/template/css/sprites/sprite.svg#whatsapp"></use></svg></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>