<div class="footer">
    <div class="container phablet-container">
        <div class="footer__grid footer__grid--desktop">
            <div class="footer__logo">
                <img src="/assets/template/images/logo-dark.png" alt="">
            </div>
            <div class="footer__slogan">
                Вывоз мусора<br />
                в Санкт-Петербурге<br />
                и Ленинградской области
            </div>
            <div class="footer__phones">
                <div class="footer-phone">
                    <a href="tel:8 (812) 920-38-54">8 (812) 920-38-54</a>
                </div>
                <div class="footer-worktime">с 8.00 до 22.30</div>
            </div>
            <div class="footer__emails">
                <div class="footer-email">
                    <a href="mailto:zakaz@hlamknam.ru">zakaz@hlamknam.ru</a>
                </div>
                <div class="footer-email__hint">круглосуточно</div>
            </div>
            <div class="footer__menu">
                <ul class="footer-nav">
                    <li><a href="#">Вывоз мусора</a></li>
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">Автопарк</a></li>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Сотрудничество</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Купить б/у бытовую технику</a></li>
                </ul>
            </div>
        </div>
        <div class="phablet-container__inside">
            <div class="footer__grid footer__grid--mobile">
                <div class="footer__logo">
                    <img src="/assets/template/images/logo-dark.png" alt="">
                </div>
                <div class="footer__contacts">
                    <div class="footer-phone">
                        <a href="tel:8 (812) 920-38-54">8 (812) 920-38-54</a>
                    </div>
                    <div class="footer-email">
                        <a href="mailto:zakaz@hlamknam.ru">zakaz@hlamknam.ru</a>
                    </div>
                </div>
                <div class="footer__worktimes">
                    <div class="footer-worktime">с 8.00 до 22.30</div>
                    <div class="footer-email__hint">круглосуточно</div>
                </div>
            </div>
        </div>
        <div class="phablet-container__inside footer-menu__box">
            <div class="footer-menu">
                <ul class="footer-menu__left">
                    <li><a href="#">Вывоз мусора</a></li>
                    <li><a href="#">Бесплатный вывоз</a></li>
                    <li><a href="#">Грузоперевозки</a></li>
                    <li><a href="#">Дополнительные услуги</a></li>
                    <li><a href="#">Стоимость услуг</a></li>
                </ul>
                <ul class="footer-menu__right">
                    <li><a href="#">Автопарк</a></li>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Сотрудничество</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Купить б/у бытовую технику</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="bottom-line">
    <div class="container phablet-container">
        <div class="bottom-line__grid">
            <div class="bottom-line__left">
                <ul class="bottom-line__nav">
                    <li>Все права защищены 2010 - 2020</li>
                    <li><a href="#">Карта сайта</a></li>
                    <li><a href="#">Политика конфиденциальности</a></li>
                </ul>
            </div>
            <div class="bottom-line__right">
                <div class="bottom-line__dev">
                    Разработка сайта: <a href="#">Creative-Lab</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom-line-mobile">
    <div class="container">
        <div class="bottom-line-mobile__left">
            Все права защищены 2010 - 2020
            <ul class="bottom-line-mobile__nav">
                <li><a href="#">Политика конфиденциальности</a></li>
                <li><a href="#">Карта сайта</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="bottom-line-mobile bottom-line-mobile--gray">
    <div class="container">
        <div class="bottom-line-mobile__right">
            <div class="bottom-line-mobile__dev">
                Разработка сайта: <a href="#">Creative-Lab</a>
            </div>
        </div>
    </div>
</div>