// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$clock-name: 'clock';
$clock-x: 60px;
$clock-y: 0px;
$clock-offset-x: -60px;
$clock-offset-y: 0px;
$clock-width: 24px;
$clock-height: 24px;
$clock-total-width: 96px;
$clock-total-height: 92px;
$clock-image: '/assets/template/css/sprites/sprite.png';
$clock: (60px, 0px, -60px, 0px, 24px, 24px, 96px, 92px, '/assets/template/css/sprites/sprite.png', 'clock', );
$dollar-sign-name: 'dollar-sign';
$dollar-sign-x: 60px;
$dollar-sign-y: 24px;
$dollar-sign-offset-x: -60px;
$dollar-sign-offset-y: -24px;
$dollar-sign-width: 24px;
$dollar-sign-height: 24px;
$dollar-sign-total-width: 96px;
$dollar-sign-total-height: 92px;
$dollar-sign-image: '/assets/template/css/sprites/sprite.png';
$dollar-sign: (60px, 24px, -60px, -24px, 24px, 24px, 96px, 92px, '/assets/template/css/sprites/sprite.png', 'dollar-sign', );
$faq-arrow-name: 'faq-arrow';
$faq-arrow-x: 56px;
$faq-arrow-y: 70px;
$faq-arrow-offset-x: -56px;
$faq-arrow-offset-y: -70px;
$faq-arrow-width: 20px;
$faq-arrow-height: 11px;
$faq-arrow-total-width: 96px;
$faq-arrow-total-height: 92px;
$faq-arrow-image: '/assets/template/css/sprites/sprite.png';
$faq-arrow: (56px, 70px, -56px, -70px, 20px, 11px, 96px, 92px, '/assets/template/css/sprites/sprite.png', 'faq-arrow', );
$has-child-submenu-name: 'has-child-submenu';
$has-child-submenu-x: 84px;
$has-child-submenu-y: 18px;
$has-child-submenu-offset-x: -84px;
$has-child-submenu-offset-y: -18px;
$has-child-submenu-width: 8px;
$has-child-submenu-height: 12px;
$has-child-submenu-total-width: 96px;
$has-child-submenu-total-height: 92px;
$has-child-submenu-image: '/assets/template/css/sprites/sprite.png';
$has-child-submenu: (84px, 18px, -84px, -18px, 8px, 12px, 96px, 92px, '/assets/template/css/sprites/sprite.png', 'has-child-submenu', );
$has-child-name: 'has-child';
$has-child-x: 60px;
$has-child-y: 48px;
$has-child-offset-x: -60px;
$has-child-offset-y: -48px;
$has-child-width: 14px;
$has-child-height: 8px;
$has-child-total-width: 96px;
$has-child-total-height: 92px;
$has-child-image: '/assets/template/css/sprites/sprite.png';
$has-child: (60px, 48px, -60px, -48px, 14px, 8px, 96px, 92px, '/assets/template/css/sprites/sprite.png', 'has-child', );
$marker-name: 'marker';
$marker-x: 84px;
$marker-y: 0px;
$marker-offset-x: -84px;
$marker-offset-y: 0px;
$marker-width: 12px;
$marker-height: 18px;
$marker-total-width: 96px;
$marker-total-height: 92px;
$marker-image: '/assets/template/css/sprites/sprite.png';
$marker: (84px, 0px, -84px, 0px, 12px, 18px, 96px, 92px, '/assets/template/css/sprites/sprite.png', 'marker', );
$next-price-slider-name: 'next-price-slider';
$next-price-slider-x: 0px;
$next-price-slider-y: 56px;
$next-price-slider-offset-x: 0px;
$next-price-slider-offset-y: -56px;
$next-price-slider-width: 14px;
$next-price-slider-height: 26px;
$next-price-slider-total-width: 96px;
$next-price-slider-total-height: 92px;
$next-price-slider-image: '/assets/template/css/sprites/sprite.png';
$next-price-slider: (0px, 56px, 0px, -56px, 14px, 26px, 96px, 92px, '/assets/template/css/sprites/sprite.png', 'next-price-slider', );
$prev-price-slider-name: 'prev-price-slider';
$prev-price-slider-x: 14px;
$prev-price-slider-y: 56px;
$prev-price-slider-offset-x: -14px;
$prev-price-slider-offset-y: -56px;
$prev-price-slider-width: 14px;
$prev-price-slider-height: 26px;
$prev-price-slider-total-width: 96px;
$prev-price-slider-total-height: 92px;
$prev-price-slider-image: '/assets/template/css/sprites/sprite.png';
$prev-price-slider: (14px, 56px, -14px, -56px, 14px, 26px, 96px, 92px, '/assets/template/css/sprites/sprite.png', 'prev-price-slider', );
$quot-name: 'quot';
$quot-x: 0px;
$quot-y: 82px;
$quot-offset-x: 0px;
$quot-offset-y: -82px;
$quot-width: 14px;
$quot-height: 10px;
$quot-total-width: 96px;
$quot-total-height: 92px;
$quot-image: '/assets/template/css/sprites/sprite.png';
$quot: (0px, 82px, 0px, -82px, 14px, 10px, 96px, 92px, '/assets/template/css/sprites/sprite.png', 'quot', );
$select-arrow-name: 'select-arrow';
$select-arrow-x: 14px;
$select-arrow-y: 82px;
$select-arrow-offset-x: -14px;
$select-arrow-offset-y: -82px;
$select-arrow-width: 14px;
$select-arrow-height: 8px;
$select-arrow-total-width: 96px;
$select-arrow-total-height: 92px;
$select-arrow-image: '/assets/template/css/sprites/sprite.png';
$select-arrow: (14px, 82px, -14px, -82px, 14px, 8px, 96px, 92px, '/assets/template/css/sprites/sprite.png', 'select-arrow', );
$slide-next-name: 'slide-next';
$slide-next-x: 28px;
$slide-next-y: 56px;
$slide-next-offset-x: -28px;
$slide-next-offset-y: -56px;
$slide-next-width: 14px;
$slide-next-height: 25px;
$slide-next-total-width: 96px;
$slide-next-total-height: 92px;
$slide-next-image: '/assets/template/css/sprites/sprite.png';
$slide-next: (28px, 56px, -28px, -56px, 14px, 25px, 96px, 92px, '/assets/template/css/sprites/sprite.png', 'slide-next', );
$slide-prev-name: 'slide-prev';
$slide-prev-x: 42px;
$slide-prev-y: 56px;
$slide-prev-offset-x: -42px;
$slide-prev-offset-y: -56px;
$slide-prev-width: 14px;
$slide-prev-height: 25px;
$slide-prev-total-width: 96px;
$slide-prev-total-height: 92px;
$slide-prev-image: '/assets/template/css/sprites/sprite.png';
$slide-prev: (42px, 56px, -42px, -56px, 14px, 25px, 96px, 92px, '/assets/template/css/sprites/sprite.png', 'slide-prev', );
$step-active-name: 'step-active';
$step-active-x: 56px;
$step-active-y: 56px;
$step-active-offset-x: -56px;
$step-active-offset-y: -56px;
$step-active-width: 18px;
$step-active-height: 14px;
$step-active-total-width: 96px;
$step-active-total-height: 92px;
$step-active-image: '/assets/template/css/sprites/sprite.png';
$step-active: (56px, 56px, -56px, -56px, 18px, 14px, 96px, 92px, '/assets/template/css/sprites/sprite.png', 'step-active', );
$telegram-name: 'telegram';
$telegram-x: 0px;
$telegram-y: 30px;
$telegram-offset-x: 0px;
$telegram-offset-y: -30px;
$telegram-width: 30px;
$telegram-height: 26px;
$telegram-total-width: 96px;
$telegram-total-height: 92px;
$telegram-image: '/assets/template/css/sprites/sprite.png';
$telegram: (0px, 30px, 0px, -30px, 30px, 26px, 96px, 92px, '/assets/template/css/sprites/sprite.png', 'telegram', );
$viber-name: 'viber';
$viber-x: 0px;
$viber-y: 0px;
$viber-offset-x: 0px;
$viber-offset-y: 0px;
$viber-width: 30px;
$viber-height: 30px;
$viber-total-width: 96px;
$viber-total-height: 92px;
$viber-image: '/assets/template/css/sprites/sprite.png';
$viber: (0px, 0px, 0px, 0px, 30px, 30px, 96px, 92px, '/assets/template/css/sprites/sprite.png', 'viber', );
$vk-name: 'vk';
$vk-x: 30px;
$vk-y: 30px;
$vk-offset-x: -30px;
$vk-offset-y: -30px;
$vk-width: 30px;
$vk-height: 20px;
$vk-total-width: 96px;
$vk-total-height: 92px;
$vk-image: '/assets/template/css/sprites/sprite.png';
$vk: (30px, 30px, -30px, -30px, 30px, 20px, 96px, 92px, '/assets/template/css/sprites/sprite.png', 'vk', );
$whatsapp-name: 'whatsapp';
$whatsapp-x: 30px;
$whatsapp-y: 0px;
$whatsapp-offset-x: -30px;
$whatsapp-offset-y: 0px;
$whatsapp-width: 30px;
$whatsapp-height: 30px;
$whatsapp-total-width: 96px;
$whatsapp-total-height: 92px;
$whatsapp-image: '/assets/template/css/sprites/sprite.png';
$whatsapp: (30px, 0px, -30px, 0px, 30px, 30px, 96px, 92px, '/assets/template/css/sprites/sprite.png', 'whatsapp', );
$spritesheet-width: 96px;
$spritesheet-height: 92px;
$spritesheet-image: '/assets/template/css/sprites/sprite.png';
$spritesheet-sprites: ($clock, $dollar-sign, $faq-arrow, $has-child-submenu, $has-child, $marker, $next-price-slider, $prev-price-slider, $quot, $select-arrow, $slide-next, $slide-prev, $step-active, $telegram, $viber, $vk, $whatsapp, );
$spritesheet: (96px, 92px, '/assets/template/css/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
