// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$clock-name: 'clock';
$clock-x: 0px;
$clock-y: 0px;
$clock-offset-x: 0px;
$clock-offset-y: 0px;
$clock-width: 24px;
$clock-height: 24px;
$clock-total-width: 80px;
$clock-total-height: 61px;
$clock-image: '/assets/template/css/sprites/sprite.png';
$clock: (0px, 0px, 0px, 0px, 24px, 24px, 80px, 61px, '/assets/template/css/sprites/sprite.png', 'clock', );
$dollar-sign-name: 'dollar-sign';
$dollar-sign-x: 24px;
$dollar-sign-y: 0px;
$dollar-sign-offset-x: -24px;
$dollar-sign-offset-y: 0px;
$dollar-sign-width: 24px;
$dollar-sign-height: 24px;
$dollar-sign-total-width: 80px;
$dollar-sign-total-height: 61px;
$dollar-sign-image: '/assets/template/css/sprites/sprite.png';
$dollar-sign: (24px, 0px, -24px, 0px, 24px, 24px, 80px, 61px, '/assets/template/css/sprites/sprite.png', 'dollar-sign', );
$faq-arrow-name: 'faq-arrow';
$faq-arrow-x: 0px;
$faq-arrow-y: 50px;
$faq-arrow-offset-x: 0px;
$faq-arrow-offset-y: -50px;
$faq-arrow-width: 20px;
$faq-arrow-height: 11px;
$faq-arrow-total-width: 80px;
$faq-arrow-total-height: 61px;
$faq-arrow-image: '/assets/template/css/sprites/sprite.png';
$faq-arrow: (0px, 50px, 0px, -50px, 20px, 11px, 80px, 61px, '/assets/template/css/sprites/sprite.png', 'faq-arrow', );
$next-price-slider-name: 'next-price-slider';
$next-price-slider-x: 0px;
$next-price-slider-y: 24px;
$next-price-slider-offset-x: 0px;
$next-price-slider-offset-y: -24px;
$next-price-slider-width: 14px;
$next-price-slider-height: 26px;
$next-price-slider-total-width: 80px;
$next-price-slider-total-height: 61px;
$next-price-slider-image: '/assets/template/css/sprites/sprite.png';
$next-price-slider: (0px, 24px, 0px, -24px, 14px, 26px, 80px, 61px, '/assets/template/css/sprites/sprite.png', 'next-price-slider', );
$prev-price-slider-name: 'prev-price-slider';
$prev-price-slider-x: 14px;
$prev-price-slider-y: 24px;
$prev-price-slider-offset-x: -14px;
$prev-price-slider-offset-y: -24px;
$prev-price-slider-width: 14px;
$prev-price-slider-height: 26px;
$prev-price-slider-total-width: 80px;
$prev-price-slider-total-height: 61px;
$prev-price-slider-image: '/assets/template/css/sprites/sprite.png';
$prev-price-slider: (14px, 24px, -14px, -24px, 14px, 26px, 80px, 61px, '/assets/template/css/sprites/sprite.png', 'prev-price-slider', );
$select-arrow-name: 'select-arrow';
$select-arrow-x: 62px;
$select-arrow-y: 14px;
$select-arrow-offset-x: -62px;
$select-arrow-offset-y: -14px;
$select-arrow-width: 14px;
$select-arrow-height: 8px;
$select-arrow-total-width: 80px;
$select-arrow-total-height: 61px;
$select-arrow-image: '/assets/template/css/sprites/sprite.png';
$select-arrow: (62px, 14px, -62px, -14px, 14px, 8px, 80px, 61px, '/assets/template/css/sprites/sprite.png', 'select-arrow', );
$slide-next-name: 'slide-next';
$slide-next-x: 28px;
$slide-next-y: 24px;
$slide-next-offset-x: -28px;
$slide-next-offset-y: -24px;
$slide-next-width: 14px;
$slide-next-height: 25px;
$slide-next-total-width: 80px;
$slide-next-total-height: 61px;
$slide-next-image: '/assets/template/css/sprites/sprite.png';
$slide-next: (28px, 24px, -28px, -24px, 14px, 25px, 80px, 61px, '/assets/template/css/sprites/sprite.png', 'slide-next', );
$slide-prev-name: 'slide-prev';
$slide-prev-x: 48px;
$slide-prev-y: 0px;
$slide-prev-offset-x: -48px;
$slide-prev-offset-y: 0px;
$slide-prev-width: 14px;
$slide-prev-height: 25px;
$slide-prev-total-width: 80px;
$slide-prev-total-height: 61px;
$slide-prev-image: '/assets/template/css/sprites/sprite.png';
$slide-prev: (48px, 0px, -48px, 0px, 14px, 25px, 80px, 61px, '/assets/template/css/sprites/sprite.png', 'slide-prev', );
$step-active-name: 'step-active';
$step-active-x: 62px;
$step-active-y: 0px;
$step-active-offset-x: -62px;
$step-active-offset-y: 0px;
$step-active-width: 18px;
$step-active-height: 14px;
$step-active-total-width: 80px;
$step-active-total-height: 61px;
$step-active-image: '/assets/template/css/sprites/sprite.png';
$step-active: (62px, 0px, -62px, 0px, 18px, 14px, 80px, 61px, '/assets/template/css/sprites/sprite.png', 'step-active', );
$spritesheet-width: 80px;
$spritesheet-height: 61px;
$spritesheet-image: '/assets/template/css/sprites/sprite.png';
$spritesheet-sprites: ($clock, $dollar-sign, $faq-arrow, $next-price-slider, $prev-price-slider, $select-arrow, $slide-next, $slide-prev, $step-active, );
$spritesheet: (80px, 61px, '/assets/template/css/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
