//= include/header.html

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__body">
            <ul>
                <li><a href="#">Главная страница</a></li>
                <li><span>Автопарк</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="autopark">
    <div class="container">
        <div class="autopark__body">
            <div class="section-header">
                Наш автопарк
                <span class="section-header__more"><a href="#">Тарифы на услуги</a></span>
            </div>
            <div class="autopark__text">
                <p>
                    Здесь будет размещаться небольшой текст о том, что у компании есть свой автопарк с
                    разнобразными автомобилями. Здесь будет размещаться небольшой текст о том, что у компании
                    есть свой автопарк с разнобразными автомобилями. Здесь будет размещаться небольшой текст о
                    том, что у компании есть свой автопарк с разнобразными автомобилями. Здесь будет размещаться
                    небольшой текст о том, что у компании есть свой автопарк с разнобразными автомобилями.
                </p>
            </div>

            <div class="autos-park">
                <div class="autos-park__grid">
                    <div class="autos-park_item">
                        //= include/car.html
                    </div>
                    <div class="autos-park_item">
                        //= include/car.html
                    </div>
                    <div class="autos-park_item">
                        //= include/car.html
                    </div>
                    <div class="autos-park_item">
                        //= include/car.html
                    </div>
                    <div class="autos-park_item">
                        //= include/car.html
                    </div>
                    <div class="autos-park_item">
                        //= include/car.html
                    </div>
                    <div class="autos-park_item">
                        //= include/car.html
                    </div>
                    <div class="autos-park_item">
                        //= include/car.html
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

//= include/feedback.html
//= include/footer.html

<!-- @if NODE_ENV='development' -->
//= include/mediahelp.html
<!-- @endif -->