//= include/header.html
//= include/main-slider.html

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__body">
            <ul>
                <li><a href="#">Главная страница</a></li>
                <li><span>Каталог услуг</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="catalog section-gray">
    <div class="container">
        <div class="catalog__box">
            <div class="section-header">
                Вывоз строительного мусора
            </div>

            <div class="catalog__grid">
                <div class="catalog__item">
                    <div class="service-card">
                        <img src="/assets/template/images/service-1.png" alt="" />
                        <div class="service-card__header">
                            <div class="service-card__header-box">
                                Вывоз мусора
                            </div>
                            <div class="service-card__info">
                                <div class="service-card__info-price">
                                    от 1500 рублей
                                </div>
                                <div class="service-card__info-time">
                                    от 3 часов
                                </div>
                            </div>
                        </div>
                        <div class="service-card__panel">
                            <div class="service-card__title">
                                Вывоз мусора
                            </div>
                            <div class="service-card__text">
                                Здесь будет краткий информационный текст об услуге, чтобы можно было яснее понять
                                в чем она состоит и какие боли клиента может решить.
                            </div>
                            <div class="service-card__price">
                                от 1500 рублей
                            </div>
                            <div class="service-card__time">
                                от 3 часов
                            </div>
                            <div class="service-card__button">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="catalog">
    <div class="container">
        <div class="catalog__box">
            <div class="section-header">
                Бесплатный вызов
            </div>

            <div class="catalog__grid">

                <div class="catalog__item">
                    <div class="service-card">
                        <img src="/assets/template/images/export-1.jpg" alt="" />
                        <div class="service-card__header">
                            <div class="service-card__header-box">
                                Вывоз чугунных ванн
                            </div>
                            <div class="service-card__info">
                                <div class="service-card__info-price">
                                    от 1500 рублей
                                </div>
                                <div class="service-card__info-time">
                                    от 3 часов
                                </div>
                            </div>
                        </div>
                        <div class="service-card__panel">
                            <div class="service-card__title">
                                Вывоз чугунных ванн
                            </div>
                            <div class="service-card__text">
                                Здесь будет краткий информационный текст об услуге, чтобы можно было яснее понять
                                в чем она состоит и какие боли клиента может решить.
                            </div>
                            <div class="service-card__price">
                                от 1500 рублей
                            </div>
                            <div class="service-card__time">
                                от 3 часов
                            </div>
                            <div class="service-card__button">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="catalog__item">
                    <div class="service-card">
                        <img src="/assets/template/images/export-2.jpg" alt="" />
                        <div class="service-card__header">
                            <div class="service-card__header-box">
                                Вывоз холодильников
                            </div>
                            <div class="service-card__info">
                                <div class="service-card__info-price">
                                    от 1500 рублей
                                </div>
                                <div class="service-card__info-time">
                                    от 3 часов
                                </div>
                            </div>
                        </div>
                        <div class="service-card__panel">
                            <div class="service-card__title">
                                Вывоз холодильников
                            </div>
                            <div class="service-card__text">
                                Здесь будет краткий информационный текст об услуге, чтобы можно было яснее понять
                                в чем она состоит и какие боли клиента может решить.
                            </div>
                            <div class="service-card__price">
                                от 1500 рублей
                            </div>
                            <div class="service-card__time">
                                от 3 часов
                            </div>
                            <div class="service-card__button">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="catalog__item">
                    <div class="service-card">
                        <img src="/assets/template/images/export-3.jpg" alt="" />
                        <div class="service-card__header">
                            <div class="service-card__header-box">
                                Вывоз стиральных машин
                            </div>
                            <div class="service-card__info">
                                <div class="service-card__info-price">
                                    от 1500 рублей
                                </div>
                                <div class="service-card__info-time">
                                    от 3 часов
                                </div>
                            </div>
                        </div>
                        <div class="service-card__panel">
                            <div class="service-card__title">
                                Вывоз стиральных машин
                            </div>
                            <div class="service-card__text">
                                Здесь будет краткий информационный текст об услуге, чтобы можно было яснее понять
                                в чем она состоит и какие боли клиента может решить.
                            </div>
                            <div class="service-card__price">
                                от 1500 рублей
                            </div>
                            <div class="service-card__time">
                                от 3 часов
                            </div>
                            <div class="service-card__button">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="catalog__item">
                    <div class="service-card">
                        <img src="/assets/template/images/export-4.jpg" alt="" />
                        <div class="service-card__header">
                            <div class="service-card__header-box">
                                Вывоз батарей отопления
                            </div>
                            <div class="service-card__info">
                                <div class="service-card__info-price">
                                    от 1500 рублей
                                </div>
                                <div class="service-card__info-time">
                                    от 3 часов
                                </div>
                            </div>
                        </div>
                        <div class="service-card__panel">
                            <div class="service-card__title">
                                Вывоз батарей отопления
                            </div>
                            <div class="service-card__text">
                                Здесь будет краткий информационный текст об услуге, чтобы можно было яснее понять
                                в чем она состоит и какие боли клиента может решить.
                            </div>
                            <div class="service-card__price">
                                от 1500 рублей
                            </div>
                            <div class="service-card__time">
                                от 3 часов
                            </div>
                            <div class="service-card__button">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="catalog__item">
                    <div class="service-card">
                        <img src="/assets/template/images/export-5.jpg" alt="" />
                        <div class="service-card__header">
                            <div class="service-card__header-box">
                                Вывоз посудомоечных машин
                            </div>
                            <div class="service-card__info">
                                <div class="service-card__info-price">
                                    от 1500 рублей
                                </div>
                                <div class="service-card__info-time">
                                    от 3 часов
                                </div>
                            </div>
                        </div>
                        <div class="service-card__panel">
                            <div class="service-card__title">
                                Вывоз посудомоечных машин
                            </div>
                            <div class="service-card__text">
                                Здесь будет краткий информационный текст об услуге, чтобы можно было яснее понять
                                в чем она состоит и какие боли клиента может решить.
                            </div>
                            <div class="service-card__price">
                                от 1500 рублей
                            </div>
                            <div class="service-card__time">
                                от 3 часов
                            </div>
                            <div class="service-card__button">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="catalog__item">
                    <div class="service-card">
                        <img src="/assets/template/images/export-6.jpg" alt="" />
                        <div class="service-card__header">
                            <div class="service-card__header-box">
                                Вывоз металлических дверей
                            </div>
                            <div class="service-card__info">
                                <div class="service-card__info-price">
                                    от 1500 рублей
                                </div>
                                <div class="service-card__info-time">
                                    от 3 часов
                                </div>
                            </div>
                        </div>
                        <div class="service-card__panel">
                            <div class="service-card__title">
                                Вывоз металлических дверей
                            </div>
                            <div class="service-card__text">
                                Здесь будет краткий информационный текст об услуге, чтобы можно было яснее понять
                                в чем она состоит и какие боли клиента может решить.
                            </div>
                            <div class="service-card__price">
                                от 1500 рублей
                            </div>
                            <div class="service-card__time">
                                от 3 часов
                            </div>
                            <div class="service-card__button">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="catalog__item">
                    <div class="service-card">
                        <img src="/assets/template/images/export-7.jpg" alt="" />
                        <div class="service-card__header">
                            <div class="service-card__header-box">
                                Вывоз утилизированных автомобилей
                            </div>
                            <div class="service-card__info">
                                <div class="service-card__info-price">
                                    от 1500 рублей
                                </div>
                                <div class="service-card__info-time">
                                    от 3 часов
                                </div>
                            </div>
                        </div>
                        <div class="service-card__panel">
                            <div class="service-card__title">
                                Вывоз утилизированных автомобилей
                            </div>
                            <div class="service-card__text">
                                Здесь будет краткий информационный текст об услуге, чтобы можно было яснее понять
                                в чем она состоит и какие боли клиента может решить.
                            </div>
                            <div class="service-card__price">
                                от 1500 рублей
                            </div>
                            <div class="service-card__time">
                                от 3 часов
                            </div>
                            <div class="service-card__button">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="catalog__item">
                    <div class="service-card">
                        <img src="/assets/template/images/export-8.jpg" alt="" />
                        <div class="service-card__header">
                            <div class="service-card__header-box">
                                Вывоз металлолома
                            </div>
                            <div class="service-card__info">
                                <div class="service-card__info-price">
                                    от 1500 рублей
                                </div>
                                <div class="service-card__info-time">
                                    от 3 часов
                                </div>
                            </div>
                        </div>
                        <div class="service-card__panel">
                            <div class="service-card__title">
                                Вывоз металлолома
                            </div>
                            <div class="service-card__text">
                                Здесь будет краткий информационный текст об услуге, чтобы можно было яснее понять
                                в чем она состоит и какие боли клиента может решить.
                            </div>
                            <div class="service-card__price">
                                от 1500 рублей
                            </div>
                            <div class="service-card__time">
                                от 3 часов
                            </div>
                            <div class="service-card__button">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="catalog__item">
                    <div class="service-card">
                        <img src="/assets/template/images/export-9.jpg" alt="" />
                        <div class="service-card__header">
                            <div class="service-card__header-box">
                                Вывоз кухонных плит
                            </div>
                            <div class="service-card__info">
                                <div class="service-card__info-price">
                                    от 1500 рублей
                                </div>
                                <div class="service-card__info-time">
                                    от 3 часов
                                </div>
                            </div>
                        </div>
                        <div class="service-card__panel">
                            <div class="service-card__title">
                                Вывоз кухонных плит
                            </div>
                            <div class="service-card__text">
                                Здесь будет краткий информационный текст об услуге, чтобы можно было яснее понять
                                в чем она состоит и какие боли клиента может решить.
                            </div>
                            <div class="service-card__price">
                                от 1500 рублей
                            </div>
                            <div class="service-card__time">
                                от 3 часов
                            </div>
                            <div class="service-card__button">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="catalog__item">
                    <div class="service-card">
                        <img src="/assets/template/images/export-10.jpg" alt="" />
                        <div class="service-card__header">
                            <div class="service-card__header-box">
                                Вывоз газовых колонок
                            </div>
                            <div class="service-card__info">
                                <div class="service-card__info-price">
                                    от 1500 рублей
                                </div>
                                <div class="service-card__info-time">
                                    от 3 часов
                                </div>
                            </div>
                        </div>
                        <div class="service-card__panel">
                            <div class="service-card__title">
                                Вывоз газовых колонок
                            </div>
                            <div class="service-card__text">
                                Здесь будет краткий информационный текст об услуге, чтобы можно было яснее понять
                                в чем она состоит и какие боли клиента может решить.
                            </div>
                            <div class="service-card__price">
                                от 1500 рублей
                            </div>
                            <div class="service-card__time">
                                от 3 часов
                            </div>
                            <div class="service-card__button">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="catalog__item">
                    <div class="service-card">
                        <img src="/assets/template/images/export-11.jpg" alt="" />
                        <div class="service-card__header">
                            <div class="service-card__header-box">
                                Вывоз кондиционеров
                            </div>
                            <div class="service-card__info">
                                <div class="service-card__info-price">
                                    от 1500 рублей
                                </div>
                                <div class="service-card__info-time">
                                    от 3 часов
                                </div>
                            </div>
                        </div>
                        <div class="service-card__panel">
                            <div class="service-card__title">
                                Вывоз кондиционеров
                            </div>
                            <div class="service-card__text">
                                Здесь будет краткий информационный текст об услуге, чтобы можно было яснее понять
                                в чем она состоит и какие боли клиента может решить.
                            </div>
                            <div class="service-card__price">
                                от 1500 рублей
                            </div>
                            <div class="service-card__time">
                                от 3 часов
                            </div>
                            <div class="service-card__button">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="catalog section-orange">
    <div class="container">
        <div class="catalog__box">
            <div class="section-header section-header--white">
                Грузоперевозки
            </div>

            <div class="catalog__grid">

                <div class="catalog__item">
                    <div class="service-card">
                        <img src="/assets/template/images/cargo-1.jpg" alt="" />
                        <div class="service-card__header">
                            <div class="service-card__header-box">
                                Перевозка мебели
                            </div>
                            <div class="service-card__info">
                                <div class="service-card__info-price">
                                    от 1500 рублей
                                </div>
                                <div class="service-card__info-time">
                                    от 3 часов
                                </div>
                            </div>
                        </div>
                        <div class="service-card__panel">
                            <div class="service-card__title">
                                Перевозка мебели
                            </div>
                            <div class="service-card__text">
                                Здесь будет краткий информационный текст об услуге, чтобы можно было яснее понять
                                в чем она состоит и какие боли клиента может решить.
                            </div>
                            <div class="service-card__price">
                                от 1500 рублей
                            </div>
                            <div class="service-card__time">
                                от 3 часов
                            </div>
                            <div class="service-card__button">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="catalog__item">
                    <div class="service-card">
                        <img src="/assets/template/images/cargo-2.jpg" alt="" />
                        <div class="service-card__header">
                            <div class="service-card__header-box">
                                Перевозка бытовой техники
                            </div>
                            <div class="service-card__info">
                                <div class="service-card__info-price">
                                    от 1500 рублей
                                </div>
                                <div class="service-card__info-time">
                                    от 3 часов
                                </div>
                            </div>
                        </div>
                        <div class="service-card__panel">
                            <div class="service-card__title">
                                Перевозка бытовой техники
                            </div>
                            <div class="service-card__text">
                                Здесь будет краткий информационный текст об услуге, чтобы можно было яснее понять
                                в чем она состоит и какие боли клиента может решить.
                            </div>
                            <div class="service-card__price">
                                от 1500 рублей
                            </div>
                            <div class="service-card__time">
                                от 3 часов
                            </div>
                            <div class="service-card__button">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="catalog__item">
                    <div class="service-card">
                        <img src="/assets/template/images/cargo-3.jpg" alt="" />
                        <div class="service-card__header">
                            <div class="service-card__header-box">
                                Перевозка строительных материалов
                            </div>
                            <div class="service-card__info">
                                <div class="service-card__info-price">
                                    от 1500 рублей
                                </div>
                                <div class="service-card__info-time">
                                    от 3 часов
                                </div>
                            </div>
                        </div>
                        <div class="service-card__panel">
                            <div class="service-card__title">
                                Перевозка строительных материалов
                            </div>
                            <div class="service-card__text">
                                Здесь будет краткий информационный текст об услуге, чтобы можно было яснее понять
                                в чем она состоит и какие боли клиента может решить.
                            </div>
                            <div class="service-card__price">
                                от 1500 рублей
                            </div>
                            <div class="service-card__time">
                                от 3 часов
                            </div>
                            <div class="service-card__button">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="catalog__item">
                    <div class="service-card">
                        <img src="/assets/template/images/cargo-4.jpg" alt="" />
                        <div class="service-card__header">
                            <div class="service-card__header-box">
                                Грузовое такси
                            </div>
                            <div class="service-card__info">
                                <div class="service-card__info-price">
                                    от 1500 рублей
                                </div>
                                <div class="service-card__info-time">
                                    от 3 часов
                                </div>
                            </div>
                        </div>
                        <div class="service-card__panel">
                            <div class="service-card__title">
                                Грузовое такси
                            </div>
                            <div class="service-card__text">
                                Здесь будет краткий информационный текст об услуге, чтобы можно было яснее понять
                                в чем она состоит и какие боли клиента может решить.
                            </div>
                            <div class="service-card__price">
                                от 1500 рублей
                            </div>
                            <div class="service-card__time">
                                от 3 часов
                            </div>
                            <div class="service-card__button">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="catalog__item">
                    <div class="service-card">
                        <img src="/assets/template/images/cargo-5.jpg" alt="" />
                        <div class="service-card__header">
                            <div class="service-card__header-box">
                                Квартирный переезд
                            </div>
                            <div class="service-card__info">
                                <div class="service-card__info-price">
                                    от 1500 рублей
                                </div>
                                <div class="service-card__info-time">
                                    от 3 часов
                                </div>
                            </div>
                        </div>
                        <div class="service-card__panel">
                            <div class="service-card__title">
                                Квартирный переезд
                            </div>
                            <div class="service-card__text">
                                Здесь будет краткий информационный текст об услуге, чтобы можно было яснее понять
                                в чем она состоит и какие боли клиента может решить.
                            </div>
                            <div class="service-card__price">
                                от 1500 рублей
                            </div>
                            <div class="service-card__time">
                                от 3 часов
                            </div>
                            <div class="service-card__button">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="catalog__item">
                    <div class="service-card">
                        <img src="/assets/template/images/cargo-6.jpg" alt="" />
                        <div class="service-card__header">
                            <div class="service-card__header-box">
                                Дачный переезд
                            </div>
                            <div class="service-card__info">
                                <div class="service-card__info-price">
                                    от 1500 рублей
                                </div>
                                <div class="service-card__info-time">
                                    от 3 часов
                                </div>
                            </div>
                        </div>
                        <div class="service-card__panel">
                            <div class="service-card__title">
                                Дачный переезд
                            </div>
                            <div class="service-card__text">
                                Здесь будет краткий информационный текст об услуге, чтобы можно было яснее понять
                                в чем она состоит и какие боли клиента может решить.
                            </div>
                            <div class="service-card__price">
                                от 1500 рублей
                            </div>
                            <div class="service-card__time">
                                от 3 часов
                            </div>
                            <div class="service-card__button">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="catalog__item">
                    <div class="service-card">
                        <img src="/assets/template/images/cargo-7.jpg" alt="" />
                        <div class="service-card__header">
                            <div class="service-card__header-box">
                                Офисный переезд
                            </div>
                            <div class="service-card__info">
                                <div class="service-card__info-price">
                                    от 1500 рублей
                                </div>
                                <div class="service-card__info-time">
                                    от 3 часов
                                </div>
                            </div>
                        </div>
                        <div class="service-card__panel">
                            <div class="service-card__title">
                                Офисный переезд
                            </div>
                            <div class="service-card__text">
                                Здесь будет краткий информационный текст об услуге, чтобы можно было яснее понять
                                в чем она состоит и какие боли клиента может решить.
                            </div>
                            <div class="service-card__price">
                                от 1500 рублей
                            </div>
                            <div class="service-card__time">
                                от 3 часов
                            </div>
                            <div class="service-card__button">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="catalog">
    <div class="container">
        <div class="catalog__box">
            <div class="section-header">
                Дополнительные услуги
            </div>

            <div class="catalog__grid">

                <div class="catalog__item">
                    <div class="service-card">
                        <img src="/assets/template/images/services-1.jpg" alt="" />
                        <div class="service-card__header">
                            <div class="service-card__header-box">
                                Услуги грузчиков
                            </div>
                            <div class="service-card__info">
                                <div class="service-card__info-price">
                                    от 1500 рублей
                                </div>
                                <div class="service-card__info-time">
                                    от 3 часов
                                </div>
                            </div>
                        </div>
                        <div class="service-card__panel">
                            <div class="service-card__title">
                                Услуги грузчиков
                            </div>
                            <div class="service-card__text">
                                Здесь будет краткий информационный текст об услуге, чтобы можно было яснее понять
                                в чем она состоит и какие боли клиента может решить.
                            </div>
                            <div class="service-card__price">
                                от 1500 рублей
                            </div>
                            <div class="service-card__time">
                                от 3 часов
                            </div>
                            <div class="service-card__button">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="catalog__item">
                    <div class="service-card">
                        <img src="/assets/template/images/services-2.jpg" alt="" />
                        <div class="service-card__header">
                            <div class="service-card__header-box">
                                Сборка - разборка мебели
                            </div>
                            <div class="service-card__info">
                                <div class="service-card__info-price">
                                    от 1500 рублей
                                </div>
                                <div class="service-card__info-time">
                                    от 3 часов
                                </div>
                            </div>
                        </div>
                        <div class="service-card__panel">
                            <div class="service-card__title">
                                Сборка - разборка мебели
                            </div>
                            <div class="service-card__text">
                                Здесь будет краткий информационный текст об услуге, чтобы можно было яснее понять
                                в чем она состоит и какие боли клиента может решить.
                            </div>
                            <div class="service-card__price">
                                от 1500 рублей
                            </div>
                            <div class="service-card__time">
                                от 3 часов
                            </div>
                            <div class="service-card__button">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="catalog__item">
                    <div class="service-card">
                        <img src="/assets/template/images/services-3.jpg" alt="" />
                        <div class="service-card__header">
                            <div class="service-card__header-box">
                                Упаковка вещей
                            </div>
                            <div class="service-card__info">
                                <div class="service-card__info-price">
                                    от 1500 рублей
                                </div>
                                <div class="service-card__info-time">
                                    от 3 часов
                                </div>
                            </div>
                        </div>
                        <div class="service-card__panel">
                            <div class="service-card__title">
                                Упаковка вещей
                            </div>
                            <div class="service-card__text">
                                Здесь будет краткий информационный текст об услуге, чтобы можно было яснее понять
                                в чем она состоит и какие боли клиента может решить.
                            </div>
                            <div class="service-card__price">
                                от 1500 рублей
                            </div>
                            <div class="service-card__time">
                                от 3 часов
                            </div>
                            <div class="service-card__button">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="catalog__item">
                    <div class="service-card">
                        <img src="/assets/template/images/services-4.jpg" alt="" />
                        <div class="service-card__header">
                            <div class="service-card__header-box">
                                Сбор мусора
                                перед вывозом
                            </div>
                            <div class="service-card__info">
                                <div class="service-card__info-price">
                                    от 1500 рублей
                                </div>
                                <div class="service-card__info-time">
                                    от 3 часов
                                </div>
                            </div>
                        </div>
                        <div class="service-card__panel">
                            <div class="service-card__title">
                                Сбор мусора
                                перед вывозом
                            </div>
                            <div class="service-card__text">
                                Здесь будет краткий информационный текст об услуге, чтобы можно было яснее понять
                                в чем она состоит и какие боли клиента может решить.
                            </div>
                            <div class="service-card__price">
                                от 1500 рублей
                            </div>
                            <div class="service-card__time">
                                от 3 часов
                            </div>
                            <div class="service-card__button">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="catalog__item">
                    <div class="service-card">
                        <img src="/assets/template/images/services-5.jpg" alt="" />
                        <div class="service-card__header">
                            <div class="service-card__header-box">
                                Демонтаж металлоконструкций
                            </div>
                            <div class="service-card__info">
                                <div class="service-card__info-price">
                                    от 1500 рублей
                                </div>
                                <div class="service-card__info-time">
                                    от 3 часов
                                </div>
                            </div>
                        </div>
                        <div class="service-card__panel">
                            <div class="service-card__title">
                                Демонтаж металлоконструкций
                            </div>
                            <div class="service-card__text">
                                Здесь будет краткий информационный текст об услуге, чтобы можно было яснее понять
                                в чем она состоит и какие боли клиента может решить.
                            </div>
                            <div class="service-card__price">
                                от 1500 рублей
                            </div>
                            <div class="service-card__time">
                                от 3 часов
                            </div>
                            <div class="service-card__button">
                                <a href="#" class="btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

//= include/feedback.html
//= include/footer.html

//= include/mediahelp.html