//= include/header.html

<div class="about-page">
    <div class="container tablet-container">
        <div class="about-page__grid">

            <div class="about-text">
                <div class="tablet-container__inside">
                    <div class="section-header">О нас</div>
                    <div class="about-text__content">
                        <p>
                            ХЛАМКНАМ - компания, специализирующаяся на вывозе, перевозке, переездах и связанных
                            с этим дополнительными услугами. ХЛАМКНАМ - компания, специализирующаяся на вывозе,
                            перевозке, переездах и связанных с этим дополнительными услугами. ХЛАМКНАМ - компания,
                            специализирующаяся на вывозе, перевозке, переездах и связанных с этим дополнительными
                            услугами. ХЛАМКНАМ - компания, специализирующаяся на вывозе, перевозке, переездах и
                            связанных с этим дополнительными услугами. ХЛАМКНАМ - компания, специализирующаяся
                            на вывозе, перевозке, переездах и связанных с этим дополнительными услугами.
                            ХЛАМКНАМ - компания, специализирующаяся на вывозе, перевозке, переездах и
                            связанных с этим дополнительными услугами.
                        </p>
                        <p>
                            ХЛАМКНАМ - компания, специализирующаяся на вывозе, перевозке, переездах и связанных с
                            этим дополнительными услугами. ХЛАМКНАМ - компания, специализирующаяся на вывозе,
                            перевозке, переездах и связанных с этим дополнительными услугами.
                        </p>
                    </div>
                </div>
            </div>
            <div class="about-digits">
                <div class="tablet-container__inside">
                    <div class="section-header section-header--small">В цифрах</div>
                    <div class="about-digits__group">
                        <div class="about-digits__item">
                            <div class="about-digits__value">21 425+</div>
                            <div class="about-digits__name">тонн строительного мусора вывезено</div>
                        </div>
                        <div class="about-digits__item">
                            <div class="about-digits__value">12</div>
                            <div class="about-digits__name">машин в собственном автопарке</div>
                        </div>
                        <div class="about-digits__item">
                            <div class="about-digits__value">28</div>
                            <div class="about-digits__name">человек в штате: диспетчеры, грузчики, водители</div>
                        </div>
                        <div class="about-digits__item">
                            <div class="about-digits__value">5 600+</div>
                            <div class="about-digits__name">единиц старой бытовой техники выкуплено</div>
                        </div>
                        <div class="about-digits__item">
                            <div class="about-digits__value">10</div>
                            <div class="about-digits__name">лет работаем на рынке</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="why-company">
    <div class="container">
        <div class="why-company__box">
            <div class="section-header section-header--small">
                Почему клиенты выбирают нас
            </div>
            <div class="why-company__grid">

                <div class="why-company__item">
                    <div class="why-company-card">
                        <div class="why-company-card__image">
                            <img src="/assets/template/images/why/delivery-man.svg" alt="" />
                        </div>
                        <div class="why-company-card__info">
                            <div class="why-company-card__name">
                                Русские рабочие
                            </div>
                            <div class="why-company-card__text">
                                Культурные и вежливые<br />
                                сотрудники
                            </div>
                        </div>
                    </div>
                </div>
                <div class="why-company__item">
                    <div class="why-company-card">
                        <div class="why-company-card__image">
                            <img src="/assets/template/images/why/lorry.svg" alt="" />
                        </div>
                        <div class="why-company-card__info">
                            <div class="why-company-card__name">
                                Свой автопарк
                            </div>
                            <div class="why-company-card__text">
                                12 грузовых авто разной
                                грузоподъемности
                            </div>
                        </div>
                    </div>
                </div>
                <div class="why-company__item">
                    <div class="why-company-card">
                        <div class="why-company-card__image">
                            <img src="/assets/template/images/why/piggy-bank.svg" alt="" />
                        </div>
                        <div class="why-company-card__info">
                            <div class="why-company-card__name">
                                Доступные цены
                            </div>
                            <div class="why-company-card__text">
                                12 грузовых авто разной
                                грузоподъемности
                            </div>
                        </div>
                    </div>
                </div>
                <div class="why-company__item">
                    <div class="why-company-card">
                        <div class="why-company-card__image">
                            <img src="/assets/template/images/why/broom.svg" alt="" />
                        </div>
                        <div class="why-company-card__info">
                            <div class="why-company-card__name">
                                Делаем уборку
                            </div>
                            <div class="why-company-card__text">
                                12 грузовых авто разной
                                грузоподъемности
                            </div>
                        </div>
                    </div>
                </div>
                <div class="why-company__item">
                    <div class="why-company-card">
                        <div class="why-company-card__image">
                            <img src="/assets/template/images/why/receipt.svg" alt="" />
                        </div>
                        <div class="why-company-card__info">
                            <div class="why-company-card__name">
                                Квитанция об утилизации
                            </div>
                            <div class="why-company-card__text">
                                12 грузовых авто разной
                                грузоподъемности
                            </div>
                        </div>
                    </div>
                </div>
                <div class="why-company__item">
                    <div class="why-company-card">
                        <div class="why-company-card__image">
                            <img src="/assets/template/images/why/credit-card.svg" alt="" />
                        </div>
                        <div class="why-company-card__info">
                            <div class="why-company-card__name">
                                Безналичная оплата
                            </div>
                            <div class="why-company-card__text">
                                12 грузовых авто разной
                                грузоподъемности
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="auto">
    <div class="container">
        <div class="auto__body">
            <div class="section-header section-header--small">
                Наш автопарк
                <span class="section-header__more"><a href="#">Тарифы на услуги</a></span>
            </div>
            <div class="auto__text">
                <p>
                    Здесь будет размещаться небольшой текст о том, что у компании есть свой автопарк с
                    разнобразными автомобилями. Здесь будет размещаться небольшой текст о том, что у компании
                    есть свой автопарк с разнобразными автомобилями. Здесь будет размещаться небольшой текст о
                    том, что у компании есть свой автопарк с разнобразными автомобилями. Здесь будет размещаться
                    небольшой текст о том, что у компании есть свой автопарк с разнобразными автомобилями.
                </p>
            </div>

            <div class="autos">
                <div class="autos__grid car-slider-js owl-carousel">
                    <div class="autos_item">
                        //= include/car.html
                    </div>
                    <div class="autos_item">
                        //= include/car.html
                    </div>
                    <div class="autos_item">
                        //= include/car.html
                    </div>
                    <div class="autos_item">
                        //= include/car.html
                    </div>
                    <div class="autos_item">
                        //= include/car.html
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

//= include/feedback.html
//= include/footer.html

<!-- @if NODE_ENV='development' -->
//= include/mediahelp.html
<!-- @endif -->