//= include/header.html

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__body">
            <ul>
                <li><a href="#">Главная страница</a></li>
                <li><span>Контакты</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="contacts">
    <div class="container">
        <div class="contacts__body text">
            <h1>Контакты</h1>
        </div>
        <div class="contacts__grid">
            <div class="contacts__item">
                <div class="contacts-panel">
                    <div class="contacts-panel__name">
                        <a href="tel:8 (812) 920-38-54">8 (812) 920-38-54</a>
                    </div>
                    <div class="contacts-panel__text">
                        с 08.00 до 22.30
                    </div>
                </div>
            </div>
            <div class="contacts__item">
                <div class="contacts-panel">
                    <div class="contacts-panel__name">
                        <a href="mailto:zakaz@hlamknam.ru">zakaz@hlamknam.ru</a>
                    </div>
                    <div class="contacts-panel__text">
                        круглосуточно
                    </div>
                </div>
            </div>
            <div class="contacts__item">
                <div class="contacts-panel">
                    <div class="contacts-panel__name">
                        8 (921) 920-38-54
                    </div>
                    <div class="contacts-panel__text">
                        WhatsApp, Viber, Telegram
                    </div>
                </div>
            </div>
            <div class="contacts__item">
                <div class="contacts-panel">
                    <div class="contacts-panel__name">
                        Наш офис:
                    </div>
                    <div class="contacts-panel__text">
                        Санкт-Петербург, ул.<br /> Пулковская, д. 1
                    </div>
                </div>
            </div>
        </div>

        <div class="contacts__map">
            <img src="/assets/template/images/map.jpg" alt="" />
        </div>

    </div>
</div>


//= include/feedback.html
//= include/footer.html

//= include/mediahelp.html