//= include/header.html

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__body">
            <ul>
                <li><a href="#">Главная страница</a></li>
                <li><span>Сотрудничество</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="textpage">
    <div class="container">
        <div class="section-header">
            Сотрудничество
        </div>
        <div class="text">
            <p>Здесь будет размещен текст о сотрудничестве, вариантах и условиях. Здесь будет размещен
                текст о сотрудничестве, вариантах и условиях. Здесь будет размещен текст о
                сотрудничестве, вариантах и условиях. Здесь будет размещен текст о сотрудничестве,
                вариантах и условиях. Здесь будет размещен текст о сотрудничестве, вариантах и условиях.
                Здесь будет размещен текст о сотрудничестве, вариантах и условиях. Здесь будет размещен
                текст о сотрудничестве, вариантах и условиях. Здесь будет размещен текст о
                сотрудничестве, вариантах и условиях. Здесь будет размещен текст о сотрудничестве,
                вариантах и условиях. Здесь будет размещен текст о сотрудничестве, вариантах и условиях.
                Здесь будет размещен текст о сотрудничестве, вариантах и условиях. Здесь будет размещен
                текст о сотрудничестве, вариантах и условиях. Здесь будет размещен текст о
                сотрудничестве, вариантах и условиях. Здесь будет размещен текст о сотрудничестве,
                вариантах и условиях.</p>
            <img src="/assets/template/images/cooperation.jpg" alt="" />
            <p>Здесь будет размещен текст о сотрудничестве, вариантах и условиях. Здесь будет размещен
                текст о сотрудничестве, вариантах и условиях. Здесь будет размещен текст о сотрудничестве,
                вариантах и условиях. Здесь будет размещен текст о сотрудничестве, вариантах и условиях.
                Здесь будет размещен текст о сотрудничестве, вариантах и условиях. Здесь будет размещен текст
                о сотрудничестве, вариантах и условиях. Здесь будет размещен текст о сотрудничестве, вариантах
                и условиях. Здесь будет размещен текст о сотрудничестве, вариантах и условиях.
            </p>
            <ul>
                <li>Здесь будет размещен текст о сотрудничестве, вариантах и условиях.</li>
                <li>Здесь будет размещен текст о сотрудничестве, вариантах и условиях.</li>
                <li>Здесь будет размещен текст о сотрудничестве, вариантах и условиях.</li>
                <li>Здесь будет размещен текст о сотрудничестве, вариантах и условиях.</li>
            </ul>

            <p>Здесь будет размещен текст о сотрудничестве, вариантах и условиях. Здесь будет размещен
                текст о сотрудничестве, вариантах и условиях. Здесь будет размещен текст о сотрудничестве,
                вариантах и условиях. Здесь будет размещен текст о сотрудничестве, вариантах и условиях.
                Здесь будет размещен текст о сотрудничестве, вариантах и условиях. Здесь будет размещен текст
                о сотрудничестве, вариантах и условиях. Здесь будет размещен текст о сотрудничестве, вариантах
                и условиях. Здесь будет размещен текст о сотрудничестве, вариантах и условиях.
            </p>
            <ol class="text__num">
                <li>Здесь будет размещен текст о сотрудничестве, вариантах и условиях.</li>
                <li>Здесь будет размещен текст о сотрудничестве, вариантах и условиях.</li>
                <li>Здесь будет размещен текст о сотрудничестве, вариантах и условиях.</li>
                <li>Здесь будет размещен текст о сотрудничестве, вариантах и условиях.</li>
            </ol>
            <p>Здесь будет размещен текст о сотрудничестве, вариантах и условиях. Здесь будет размещен
                текст о сотрудничестве, вариантах и условиях. Здесь будет размещен текст о сотрудничестве,
                вариантах и условиях. Здесь будет размещен текст о сотрудничестве, вариантах и условиях.
                Здесь будет размещен текст о сотрудничестве, вариантах и условиях. Здесь будет размещен текст
                о сотрудничестве, вариантах и условиях. Здесь будет размещен текст о сотрудничестве, вариантах
                и условиях. Здесь будет размещен текст о сотрудничестве, вариантах и условиях.
            </p>
        </div>
    </div>
</div>


//= include/feedback.html
//= include/footer.html

//= include/mediahelp.html