//= include/header.html

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__body">
            <ul>
                <li><a href="#">Главная страница</a></li>
                <li><span>Оглавление</span></li>
            </ul>
        </div>
    </div>
</div>
<div class="textpage">
    <div class="container">
        <div class="text-page__body text">
            <h1>Верстка страниц</h1>
            <ul>
                <li><a href="/index.html">Главная</a></li>
                <li><a href="/catalog.html">Каталог услуг</a></li>
                <li><a href="/pereezd.html">Карточка кварт переезда</a></li>
                <li><a href="/musor.html">Карточка вывоз мусора</a></li>
                <li><a href="/company.html">О компании</a></li>
                <li><a href="/autopark.html">Автопарк</a></li>
                <li><a href="/tariffs.html">Тарифы</a></li>
                <li><a href="/contacts.html">Контакты</a></li>
                <li><a href="/cooperation.html">Текстовая страница, сотрудничество</a></li>
            </ul>
            <h1>Формы</h1>
            <ul>
                <li><a href="#callback" data-fancybox="">Заказ звонка</a></li>
                <li><a href="#order" data-fancybox="">Заказ квартирного переезда</a></li>
                <li><a href="#success" data-fancybox="">Форма отправлена</a></li>
                <li><a href="#quiz" data-fancybox="">Квиз</a></li>
            </ul>

            <br><br><br><br><br><br><br><br><br><br><br><br><br>

        </div>
    </div>
</div>






//= include/footer.html