//= include/header.html
//= include/main-slider.html

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__body">
            <ul>
                <li><a href="#">Главная страница</a></li>
                <li><a href="#">Каталог услуг</a></li>
                <li><span>Квартирный переезд</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="steps">
    <div class="container">
        <div class="steps__body">
            <div class="section-header">Квартирный переезд</div>
            <div class="xtab-container">
                <div class="steps-line">
                    <a href="#" class="steps-line__item active" data-tab=".xtab-1">
                        <div class="steps-line__name">Бережно разберем мебель</div>
                    </a>
                    <a href="#" class="steps-line__item" data-tab=".xtab-2">
                        <div class="steps-line__name">Надежно упакуем вещи в коробки и пленку</div>
                    </a>
                    <a href="#" class="steps-line__item" data-tab=".xtab-3">
                        <div class="steps-line__name">Ответственно доставим</div>
                    </a>
                    <a href="#" class="steps-line__item" data-tab=".xtab-4">
                        <div class="steps-line__name">Аккуратно поднимем на этаж</div>
                    </a>
                    <a href="#" class="steps-line__item" data-tab=".xtab-5">
                        <div class="steps-line__name">Расставим по местам и уберем мусор</div>
                    </a>
                </div>
                <div class="steps-tabs">
                    <a href="#" class="steps-tab-header" data-tab=".xtab-1">
                        Бережно разберем мебель
                    </a>
                    <div class="xtab xtab-1 active">
                        <div class="steps-info">
                            <div class="steps-info__image">
                                <img src="/assets/template/images/pereezd-1.jpg" alt="" />
                            </div>
                            <div class="steps-info__body">
                                <div class="steps-info__header">
                                    Бережно разберем мебель
                                </div>
                                <div class="steps-info__text">
                                    Здесь будет размещаться небольшой текст о том, что делают сотрудники компании
                                    на конкретном этапе квартирного переезда. Как они приезжают на вызов с коробками,
                                    пузырчатой пленкой и скотчем. Деликатно упаковывают книги, посуду и прочие вещи.

                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="steps-tab-header" data-tab=".xtab-2">
                        Надежно упакуем вещи в коробки и пленку
                    </a>
                    <div class="xtab xtab-2">
                        <div class="steps-info">
                            <div class="steps-info__image">
                                <img src="/assets/template/images/pereezd-1.jpg" alt="" />
                            </div>
                            <div class="steps-info__body">
                                <div class="steps-info__header">
                                    Надежно упакуем вещи в коробки и пленку
                                </div>
                                <div class="steps-info__text">
                                    Здесь будет размещаться небольшой текст о том, что делают сотрудники компании
                                    на конкретном этапе квартирного переезда. Как они приезжают на вызов с коробками,
                                    пузырчатой пленкой и скотчем. Деликатно упаковывают книги, посуду и прочие вещи.
                                    Здесь будет размещаться небольшой текст о том, что делают сотрудники компании на
                                    конкретном этапе квартирного переезда. Как они приезжают на вызов с коробками,
                                    пузырчатой пленкой и скотчем. Деликатно упаковывают книги, посуду и прочие вещи.
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="steps-tab-header" data-tab=".xtab-3">
                        Ответственно доставим
                    </a>
                    <div class="xtab xtab-3">
                        <div class="steps-info">
                            <div class="steps-info__image">
                                <img src="/assets/template/images/pereezd-1.jpg" alt="" />
                            </div>
                            <div class="steps-info__body">
                                <div class="steps-info__header">
                                    Ответственно доставим
                                </div>
                                <div class="steps-info__text">
                                    Здесь будет размещаться небольшой текст о том, что делают сотрудники компании
                                    на конкретном этапе квартирного переезда. Как они приезжают на вызов с коробками,
                                    пузырчатой пленкой и скотчем. Деликатно упаковывают книги, посуду и прочие вещи.
                                    Здесь будет размещаться небольшой текст о том, что делают сотрудники компании на
                                    конкретном этапе квартирного переезда. Как они приезжают на вызов с коробками,
                                    пузырчатой пленкой и скотчем. Деликатно упаковывают книги, посуду и прочие вещи.
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="steps-tab-header" data-tab=".xtab-4">
                        Аккуратно поднимем на этаж
                    </a>
                    <div class="xtab xtab-4">
                        <div class="steps-info">
                            <div class="steps-info__image">
                                <img src="/assets/template/images/pereezd-1.jpg" alt="" />
                            </div>
                            <div class="steps-info__body">
                                <div class="steps-info__header">
                                    Аккуратно поднимем на этаж
                                </div>
                                <div class="steps-info__text">
                                    Здесь будет размещаться небольшой текст о том, что делают сотрудники компании
                                    на конкретном этапе квартирного переезда. Как они приезжают на вызов с коробками,
                                    пузырчатой пленкой и скотчем. Деликатно упаковывают книги, посуду и прочие вещи.
                                    Здесь будет размещаться небольшой текст о том, что делают сотрудники компании на
                                    конкретном этапе квартирного переезда. Как они приезжают на вызов с коробками,
                                    пузырчатой пленкой и скотчем. Деликатно упаковывают книги, посуду и прочие вещи.
                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="#" class="steps-tab-header" data-tab=".xtab-5">
                        Расставим по местам и уберем мусор
                    </a>
                    <div class="xtab xtab-5">
                        <div class="steps-info">
                            <div class="steps-info__image">
                                <img src="/assets/template/images/pereezd-1.jpg" alt="" />
                            </div>
                            <div class="steps-info__body">
                                <div class="steps-info__header">
                                    Расставим по местам и уберем мусор
                                </div>
                                <div class="steps-info__text">
                                    Здесь будет размещаться небольшой текст о том, что делают сотрудники компании
                                    на конкретном этапе квартирного переезда. Как они приезжают на вызов с коробками,
                                    пузырчатой пленкой и скотчем. Деликатно упаковывают книги, посуду и прочие вещи.
                                    Здесь будет размещаться небольшой текст о том, что делают сотрудники компании на
                                    конкретном этапе квартирного переезда. Как они приезжают на вызов с коробками,
                                    пузырчатой пленкой и скотчем. Деликатно упаковывают книги, посуду и прочие вещи.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="price">
    <div class="container">
        <div class="price__box">
            <div class="section-header">Стоимость услуг</div>
            <div class="price-table">
                <div class="dinamic-price">

                    <div class="price-table__captions">
                        <div class="price-table__th">
                            Выбор автомобиля /<br /> временной интервал
                        </div>
                        <div class="price-table__cell">
                            Ночь<br />
                            18.00 - 09.00
                        </div>
                        <div class="price-table__cell">
                            День<br />
                            09.00 - 18.00
                        </div>
                    </div>
                    <div class="price-table__column">
                        <div class="price-table__th">
                            <div class="price-table__car">Мини фургон (каблук)</div>
                            <div class="price-table__image">
                                <img src="/assets/template/images/price-1.png" alt="">
                            </div>
                            <div class="price-table__params">до 500 кг   до 1,7м<sup>3</sup> </div>
                        </div>
                        <div class="price-table__cell">
                            от 500 рублей/час
                        </div>
                        <div class="price-table__cell">
                            от 500 рублей/час
                        </div>
                    </div>
                    <div class="price-table__column">
                        <div class="price-table__th">
                            <div class="price-table__car">Средний фургон</div>
                            <div class="price-table__image">
                                <img src="/assets/template/images/price-2.png" alt="">
                            </div>
                            <div class="price-table__params">до 1,5 тн   до 10 м<sup>3</sup> </div>
                        </div>
                        <div class="price-table__cell">
                            от 700 рублей/час
                        </div>
                        <div class="price-table__cell">
                            от 700 рублей/час
                        </div>
                    </div>
                    <div class="price-table__column">
                        <div class="price-table__th">
                            <div class="price-table__car">Газель 3 м</div>
                            <div class="price-table__image">
                                <img src="/assets/template/images/price-3.png" alt="">
                            </div>
                            <div class="price-table__params">до 1,5 тн   до 10 м<sup>3</sup> </div>
                        </div>
                        <div class="price-table__cell">
                            от 900 рублей/час
                        </div>
                        <div class="price-table__cell">
                            от 900 рублей/час
                        </div>
                    </div>

                </div>
                <div class="static-price">
                    <div class="price-table__captions">
                        <div class="price-table__cell">
                            Сборка / разборка мебели
                        </div>
                        <div class="price-table__cell">
                            Услуги грузчика
                        </div>
                        <div class="price-table__cell">
                            Упаковка вещей в коробки и пленку
                        </div>
                    </div>
                    <div class="price-table__columns">
                        <div class="price-table__cell">
                            600 рублей
                        </div>
                        <div class="price-table__cell">
                            600 рублей
                        </div>
                        <div class="price-table__cell">
                            от 1000 рублей
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="discount">
    <div class="container">
        <div class="discount__box">
            <div class="discount__panel">
                <div class="discount__caption">
                    Хотите получить скидку 5 %
                    на квартирный переезд?
                </div>
                <a href="#" class="discount__btn btn btn-o">
                    Получить скидку
                </a>
            </div>
        </div>
    </div>
</div>

<div class="offer">
    <div class="container">
        <div class="offer__body">
            <div class="section-header">Что мы предлагаем</div>
            <div class="why__grid">

                <div class="why__item">
                    <div class="why-card">
                        <div class="why-card__image">
                            <img src="/assets/template/images/why/piggy-bank.svg" alt="" />
                        </div>
                        <div class="why-card__info">
                            <div class="why-card__name">
                                Доступные цены
                            </div>
                            <div class="why-card__text">
                                Стоимость квартирного
                                переезда от 900 рублей
                            </div>
                        </div>
                    </div>
                </div>

                <div class="why__item">
                    <div class="why-card">
                        <div class="why-card__image">
                            <img src="/assets/template/images/why/lorry.svg" alt="" />
                        </div>
                        <div class="why-card__info">
                            <div class="why-card__name">
                                Выбор авто
                            </div>
                            <div class="why-card__text">
                                Подбираем машину с учетом объема
                                вещей и количества пассажиров
                            </div>
                        </div>
                    </div>
                </div>


                <div class="why__item">
                    <div class="why-card">
                        <div class="why-card__image">
                            <img src="/assets/template/images/why/credit-card.svg" alt="" />
                        </div>
                        <div class="why-card__info">
                            <div class="why-card__name">
                                Безналичная оплата
                            </div>
                            <div class="why-card__text">
                                Вы можете оплатить услуги
                                картой любого банка
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

//= include/actions.html
//= include/feedback.html

//= include/footer.html

//= include/mediahelp.html