//= include/header.html
//= include/main-slider.html

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__body">
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">Каталог услуг</a></li>
                <li><span>Квартирный переезд</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="steps">
    <div class="container">
        <div class="steps__body">
            <div class="section-header">Квартирный переезд</div>
            <div class="steps-line">
                <div class="steps-line__item">
                    <div class="steps-line__name">Бережно разберем мебель</div>
                </div>
                <div class="steps-line__item">
                    <div class="steps-line__name">Надежно упакуем вещи в коробки и пленку</div>
                </div>
                <div class="steps-line__item">
                    <div class="steps-line__name">Ответственно доставим</div>
                </div>
                <div class="steps-line__item">
                    <div class="steps-line__name">Аккуратно поднимем на этаж</div>
                </div>
            </div>
        </div>
    </div>
</div>

//= include/feedback.html

//= include/footer.html

//= include/mediahelp.html