//= include/header.html

<div class="breadcrumbs">
    <div class="container">
        <div class="breadcrumbs__body">
            <ul>
                <li><a href="#">Главная страница</a></li>
                <li><span>Стоимость услуг</span></li>
            </ul>
        </div>
    </div>
</div>

<div class="page-text">
    <div class="container">
        <div class="section-header">
            Наши тарифы
        </div>
        <p>
            Здесь будет размещаться небольшой текст о том, что у компании есть свой автопарк с разнобразными
            автомобилями. Здесь будет размещаться небольшой текст о том, что у компании есть свой автопарк с
            разнобразными автомобилями. Здесь будет размещаться небольшой текст о том, что у компании есть
            свой автопарк с разнобразными автомобилями. Здесь будет размещаться небольшой текст о том, что
            у компании есть свой автопарк с разнобразными автомобилями.
        </p>
    </div>
</div>

<div class="tariffs section-graysection-gray">
    <div class="container">
        <div class="cars__grid">

            <div class="price-table">
                <div class="dinamic-price">

                    <div class="price-table__captions">
                        <div class="price-table__th">
                            Выбор автомобиля /<br /> временной интервал
                        </div>
                        <div class="price-table__cell price-table__cell--delimiter">
                            <div class="price-th-sep__name">
                                Ночь<br />
                                18.00 - 09.00
                            </div>
                            <div class="price-th-sep__cols">
                                <div class="price-table__cell-mini">
                                    1 час
                                </div>
                                <div class="price-table__cell-mini">
                                    2 часа
                                </div>
                                <div class="price-table__cell-mini">
                                    3 часа
                                </div>
                            </div>
                        </div>
                        <div class="price-table__cell price-table__cell--delimiter">
                            <div class="price-th-sep__name">
                                День<br />
                                09.00 - 18.00
                            </div>
                            <div class="price-th-sep__cols">
                                <div class="price-table__cell-mini">
                                    1 час
                                </div>
                                <div class="price-table__cell-mini">
                                    2 часа
                                </div>
                                <div class="price-table__cell-mini">
                                    3 часа
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="price-table__cols owl-carousel price-slider-js">
                        <div class="price-table__column">
                            <div class="price-table__th">
                                <div class="price-table__car">Мини фургон (каблук)</div>
                                <div class="price-table__image">
                                    <img src="/assets/template/images/price-1.png" alt="">
                                </div>
                                <div class="price-table__params">до 500 кг   до 1,7м<sup>3</sup> </div>
                            </div>
                            <div class="price-table__cell-mini">
                                <div class="price-table__mobile-label">Ночь 18.00 - 09.00 (1 час)</div>
                                500 рублей
                            </div>
                            <div class="price-table__cell-mini">
                                <div class="price-table__mobile-label">Ночь 18.00 - 09.00 (2 часа)</div>
                                500 рублей
                            </div>
                            <div class="price-table__cell-mini">
                                <div class="price-table__mobile-label">Ночь 18.00 - 09.00 (3 часа)</div>
                                500 рублей
                            </div>
                            <div class="price-table__cell-mini">
                                <div class="price-table__mobile-label">День 09.00 - 18.00 (1 час)</div>
                                500 рублей
                            </div>
                            <div class="price-table__cell-mini">
                                <div class="price-table__mobile-label">День 09.00 - 18.00 (2 часа)</div>
                                500 рублей
                            </div>
                            <div class="price-table__cell-mini">
                                <div class="price-table__mobile-label">День 09.00 - 18.00 (3 часа)</div>
                                500 рублей
                            </div>
                        </div>
                        <div class="price-table__column">
                            <div class="price-table__th">
                                <div class="price-table__car">Средний фургон</div>
                                <div class="price-table__image">
                                    <img src="/assets/template/images/price-2.png" alt="">
                                </div>
                                <div class="price-table__params">до 1,5 тн   до 10 м<sup>3</sup> </div>
                            </div>
                            <div class="price-table__cell-mini">
                                <div class="price-table__mobile-label">Ночь 18.00 - 09.00 (1 час)</div>
                                700 рублей
                            </div>
                            <div class="price-table__cell-mini">
                                <div class="price-table__mobile-label">Ночь 18.00 - 09.00 (2 часа)</div>
                                700 рублей
                            </div>
                            <div class="price-table__cell-mini">
                                <div class="price-table__mobile-label">Ночь 18.00 - 09.00 (3 часа)</div>
                                700 рублей
                            </div>
                            <div class="price-table__cell-mini">
                                <div class="price-table__mobile-label">День 09.00 - 18.00 (1 час)</div>
                                700 рублей
                            </div>
                            <div class="price-table__cell-mini">
                                <div class="price-table__mobile-label">День 09.00 - 18. (2 часа)</div>
                                700 рублей
                            </div>
                            <div class="price-table__cell-mini">
                                <div class="price-table__mobile-label">День 09.00 - 18.00 (3 часа)</div>
                                700 рублей
                            </div>
                        </div>
                        <div class="price-table__column">
                            <div class="price-table__th">
                                <div class="price-table__car">Газель 3 м</div>
                                <div class="price-table__image">
                                    <img src="/assets/template/images/price-3.png" alt="">
                                </div>
                                <div class="price-table__params">до 1,5 тн   до 10 м<sup>3</sup> </div>
                            </div>
                            <div class="price-table__cell-mini">
                                <div class="price-table__mobile-label">Ночь 18.00 - 09.00 (1 час)</div>
                                900 рублей
                            </div>
                            <div class="price-table__cell-mini">
                                <div class="price-table__mobile-label">Ночь 18.00 - 09.00 (2 часа)</div>
                                900 рублей
                            </div>
                            <div class="price-table__cell-mini">
                                <div class="price-table__mobile-label">Ночь 18.00 - 09.00 (3 часа)</div>
                                900 рублей
                            </div>
                            <div class="price-table__cell-mini">
                                <div class="price-table__mobile-label">День 09.00 - 18.00 (1 час)</div>
                                900 рублей
                            </div>
                            <div class="price-table__cell-mini">
                                <div class="price-table__mobile-label">День 09.00 - 18.00 (2 часа)</div>
                                900 рублей
                            </div>
                            <div class="price-table__cell-mini">
                                <div class="price-table__mobile-label">День 09.00 - 18.00 (3 часа)</div>
                                900 рублей
                            </div>
                        </div>

                        <div class="price-table__column">
                            <div class="price-table__th">
                                <div class="price-table__car">Средний фургон 222</div>
                                <div class="price-table__image">
                                    <img src="/assets/template/images/price-2.png" alt="">
                                </div>
                                <div class="price-table__params">до 1,5 тн   до 10 м<sup>3</sup> </div>
                            </div>
                            <div class="price-table__cell-mini">
                                <div class="price-table__mobile-label">Ночь 18.00 - 09.00 (1 час)</div>
                                700 рублей
                            </div>
                            <div class="price-table__cell-mini">
                                <div class="price-table__mobile-label">Ночь 18.00 - 09.00 (2 часа)</div>
                                700 рублей
                            </div>
                            <div class="price-table__cell-mini">
                                <div class="price-table__mobile-label">Ночь 18.00 - 09.00 (3 часа)</div>
                                700 рублей
                            </div>
                            <div class="price-table__cell-mini">
                                <div class="price-table__mobile-label">День 09.00 - 18.00 (1 час)</div>
                                700 рублей
                            </div>
                            <div class="price-table__cell-mini">
                                <div class="price-table__mobile-label">День 09.00 - 18.00 (2 часа)</div>
                                700 рублей
                            </div>
                            <div class="price-table__cell-mini">
                                <div class="price-table__mobile-label">День 09.00 - 18.00 (3 часа)</div>
                                700 рублей
                            </div>
                        </div>
                    </div>

                </div>
                <div class="static-price">
                    <div class="price-table__captions">
                        <div class="price-table__cell-mini">
                            Сборка / разборка мебели
                        </div>
                        <div class="price-table__cell-mini">
                            Услуги грузчика
                        </div>
                        <div class="price-table__cell-mini">
                            Упаковка вещей в коробки и пленку
                        </div>
                    </div>
                    <div class="price-table__columns">
                        <div class="price-table__cell-mini">
                            <div class="price-table__mobile-label">Сборка / разборка мебели</div>
                            600 рублей
                        </div>
                        <div class="price-table__cell-mini">
                            <div class="price-table__mobile-label">Услуги грузчика</div>
                            600 рублей
                        </div>
                        <div class="price-table__cell-mini">
                            <div class="price-table__mobile-label">Упаковка вещей в коробки и пленку</div>
                            от 1000 рублей
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

//= include/feedback.html
<script>
    document.querySelector('.feedback').classList.remove('section-gray');
</script>
//= include/footer.html

//= include/mediahelp.html